.header{
    width: 100%;/*横幅*/
    height: 80px;
    background-color: #76E5D8;
    padding: 20px 50px;/*上下左右の余白*/
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0;
    left: 0;
    display: flex;/*要素の横並び*/
    align-items: center;/*要素を上下中央に並べる*/
    justify-content: space-between;/*[ログイン]を右に寄せる*/
    font-size: 20px;
}
.home{
    font-size: 20px;
}
.name{
    padding-bottom: 10px;
    font-size: 20px;
}
.shopping-cart{
    text-align: right;
    padding-top: 10px;
}
.container{
    width: 100%;/*横幅*/
    height: 100%;
    left: 0;
    display: flex;/*要素の横並び*/
    /*position: relative;*/
}
.main{
    padding: 10px;/*文字と枠の余白*/
    background-color: lightyellow;
    width: 100%;
}
.left-menu{
    width: 25%;/*横幅*/
    padding: 5px;/*文字と枠の余白*/
    background-color: lightgray;
    margin: 0;
    font-size: 25px;
    line-height: 55px;
}
body {
padding-top: 70px; /* ヘッダーの後ろに要素が隠れないようにするため */
}

.p_name {
    display: inline-block;
    width: 350px;
    height: 350px;
    margin-top: 80px;
    margin-left: 180px;
    color: #fff;
    background-color:orange;
    text-align: center;
    line-height:350px;
    border-radius: 50%;
    font-size: 35px;
    /*円,検索機能*/
}

.p_category {
    display: inline-block;
    width: 350px;
    height: 350px;
    margin-top: 80px;
    margin-left: 240px;
    color: #fff;
    background-color:rgb(52, 136, 232);
    text-align: center;
    line-height:350px;
    border-radius: 50%;
    font-size: 35px;
    /*円,検索機能*/
}

.p_price {
    display: inline-block;
    width: 350px;
    height: 350px;
    margin-top: 50px;
    margin-left: 480px;
    color: #fff;
    background-color:rgb(56, 220, 56);
    text-align: center;
    line-height:350px;
    border-radius: 50%;
    font-size: 35px;
    /*円,検索機能*/
}

.text{
    width: 600px;
    height: 70px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 40px;
    padding: 10px;
}

.button{
    width: 110px;
    height: 70px;
    margin-left: 40px;
    padding: 10px;
    background-color: rgb(255, 192, 4);
    font-size: 25px;
    border-radius:5px;
}

.button2{
    min-width: 200px; 
    height: 70px;
    margin-left: 40px;
    background-color: rgb(20, 230, 146);
    font-size: 25px;
    border-radius:5px;
    padding: 0 16px; /* テキスト横の余白がキツキツにならないように */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.button3{
    width: 110px;
    height: 70px;
    margin-left: 40px;
    padding: 10px;
    background-color: rgb(191, 105, 237);
    font-size: 25px;
    border-radius:5px;
}

.p_text{
    width: 380px;
    height: 60px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    padding: 0 16px;
}

.frame{
    display: flex;
}
 
.detail{
    width: auto;
}

.button4{
    min-width: 200px; 
    height: 70px;
    margin-left: 40px;
    background-color: rgb(255, 192, 4);
    font-size: 25px;
    border-radius:5px;
    padding: 0 16px; /* テキスト横の余白がキツキツにならないように */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}